/* 默认情况下，背景稍微深一点，保证可读性 */
.layout > #post {
    background: rgba(255, 255, 255, 0.9) !important;
}

/* 如果浏览器支持毛玻璃，再把背景调透，并加上模糊 */
@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
    .layout > #post {
    background: rgba(255, 255, 255, 0.7) !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    }
}